<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in c:\users\bhawe\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\bhawe\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\bhawe\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bhawe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bhawe\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\bhawe\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bhawe\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhawe\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bhawe\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\bhawe\anaconda3\lib\site-packages (from requests) (2.0.4)

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=0b7a715ce18bcfefb37f2b41d7a9eae5"  #Make sure to change ******* to your API key.

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [5]:
# Turn the data into a dataframe
data=requests.get(url).text
type(data)

str

In [8]:
def extract_from_json(files_to_process):
    DataFrame=pd.read_json(files_to_process)
    return DataFrame

In [49]:
df1=extract_from_json(data)
df1
data_finall=df1.iloc[:,[4]]
data_finall

            rates
AED      4.170787
AFN    119.230805
ALL    121.898732
AMD    549.356673
ANG      2.046639
..            ...
YER    283.882576
ZAR     17.694648
ZMK  10221.145598
ZMW     19.140939
ZWL    365.640629

[168 rows x 1 columns]

In [39]:
#had the API  fetched a Json as a dictionary the below could will work:
#data_dict=pd.DataFrame(data,columns=['base','rates'])
data_final=df1.iloc[:,[2,4]]
data_final
data_final.set_index(0, inplace = True)

KeyError: 'None of [0] are in the columns'

In [44]:
# Drop unnescessary columns
#pd.DataFrame(new_df.index.tolist(), columns=['STNAME','CTYNAME']
#data_final =pd.DataFrame(data_final.index.tolist(),columns=['rate'])
#data_final, (columns=["Currency", "rate"])
data_final2=pd.DataFrame(data_final).reset_index()
data_final2




data_final2.rename(columns={'index':'currency'},inplace=True)
data_final2

    currency base         rates
0        AED  EUR      4.170787
1        AFN  EUR    119.230805
2        ALL  EUR    121.898732
3        AMD  EUR    549.356673
4        ANG  EUR      2.046639
..       ...  ...           ...
163      YER  EUR    283.882576
164      ZAR  EUR     17.694648
165      ZMK  EUR  10221.145598
166      ZMW  EUR     19.140939
167      ZWL  EUR    365.640629

[168 rows x 3 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [51]:
# Save the Dataframe
#data_final2.to_csv('exchange_rates_1.csv')
data_finall.to_csv('exchange_rates_2.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).