In [1]:
## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

SyntaxError: invalid syntax (Temp/ipykernel_25960/2556456231.py, line 3)

In [2]:
import glob
import pandas as pd
from datetime import datetime

In [16]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [46]:
target_file="bank_market_cap_gbp.csv"

In [18]:
def extract():
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    
    return extracted_data

In [19]:
extract()

                                          Name  Market Cap (US$ Billion)
0                             JPMorgan Chase\n                   488.470
1                            Bank of America\n                   379.250
2    Industrial and Commercial Bank of China\n                   246.500
3                                Wells Fargo\n                   308.013
4                    China Construction Bank\n                   257.399
..                                         ...                       ...
65                              Ping An Bank\n                    37.993
66                        Standard Chartered\n                    37.319
67                      United Overseas Bank\n                    35.128
68                                 QNB Group\n                    33.560
69                     Bank Rakyat Indonesia\n                    33.081

[70 rows x 2 columns]

In [ ]:
#Question 1 Load the file exchange_rates.csv as a dataframe and 
#find the exchange rate for British pounds with the symbol GBP,
#store it in the variable exchange_rate, you will be asked for the number. Hint: set the parameter index_col to 0.

In [39]:
Exchange_rate_df=pd.read_csv('exchange_rates_2.csv',index_col=0)
type(Exchange_rate_df)
Exchange_rate_df

            rates
AED      4.170787
AFN    119.230805
ALL    121.898732
AMD    549.356673
ANG      2.046639
..            ...
YER    283.882576
ZAR     17.694648
ZMK  10221.145598
ZMW     19.140939
ZWL    365.640629

[168 rows x 1 columns]

In [30]:
#Exchange_rate=Exchange_rate_df[Exchange_rate_df.currency=='GBP'].rates

In [40]:
Exchange_rate=Exchange_rate_df.loc['GBP','rates']

In [41]:
type(Exchange_rate)

numpy.float64

In [ ]:
## Transform

#Using <code>exchange_rate</code> and the `exchange_rates.csv` file
#find the exchange rate of USD to GBP. Write a transform function that

#1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
#2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
#3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [49]:
def transform(data):
    data['Market Cap (US$ Billion)']=round(data['Market Cap (US$ Billion)']*Exchange_rate,3)
    data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP$ Billion)'},inplace=True)
    return data

In [ ]:
## Load

#Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`.
#Make sure to set `index` to `False`.

In [44]:
def load(target_file,transformed_Data):
    transformed_Data.to_csv(target_file)

In [ ]:
## Logging Function

In [47]:
from datetime import datetime
def log(message):
    timestamp_format='%Y-%h-%d-%H:-%M:%S'
    Now=datetime.now()
    timestamp=Now.strftime(timestamp_format)
    with open("log_file_project2.txt",'a') as f:
        f.write(timestamp+','+message+'\n')

In [ ]:
## Running the ETL Process

In [50]:
log("ETL Process Started..")
log('Extract Phase Started')
Extracted_data=extract()
log("Extraction Phase Ended")
log("Transformation step Started")
transformed_Data=transform(Extracted_data)
log("Transformation step Ended")
log("Load Started")
load(target_file,transformed_Data)
log("Load Ended")
log("ETL Process Ended")